.h1_sec {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  padding: 20px;
  background: rgb(187, 74, 74);
  background: linear-gradient(163deg, rgb(180, 175, 103) 30%, rgb(235, 140, 85) 40%, rgb(141, 255, 151) 70%);
  margin: 0;
}

.main_nstr .div_nstr .h2_nstr {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
}

#body_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

#body_grid_familia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#main_familia {
  background-image: url(../img/map\ y\ vidio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}

/* responsive */
/*tablets*/
@media screen and (min-width: 768px) {
  #body_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
.header__nav {
  display: none;
}

.navbar__movil {
  display: block;
  background-color: #97725E;
}
.navbar__movil .container-fluid .logo {
  height: 70px;
  width: 80px;
}
.navbar__movil .titulo_navbar {
  display: block;
  margin-bottom: -1rem;
  font-size: 30px;
  font-family: "Beau Rivage", cursive;
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
}
.navbar__movil div .header__nav__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 25px;
  justify-self: center;
}
.navbar__movil div .header__nav__ul .nav-item {
  margin-bottom: 10px;
}

.contacto {
  display: flex;
  justify-self: center;
  right: 30px;
}
.contacto .contactanos {
  display: block;
}
.contacto .carta {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: none;
  }
  .navbar__movil {
    display: block;
    background-color: #97725E;
  }
  .navbar__movil .logo {
    height: 70px;
    width: 80px;
  }
  .navbar__movil .titulo_navbar {
    display: block;
    margin-bottom: -1rem;
    font-size: 60px;
    font-family: "Beau Rivage", cursive;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
  }
  .navbar__movil div .header__nav__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 25px;
    justify-self: center;
  }
  .navbar__movil div .header__nav__ul .nav-item {
    margin-bottom: 10px;
  }
  .contacto {
    display: flex;
    justify-self: center;
    right: 30px;
  }
  .contacto .contactanos {
    display: block;
  }
  .contacto .carta {
    display: none;
  }
}
@media (min-width: 1028px) {
  .navbar__movil {
    display: none;
  }
  .header__nav {
    display: flex;
    align-items: center;
    background-color: #97725E;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    font-family: "Times New Roman", Times, serif;
  }
  .header__nav .logo {
    height: 70px;
    width: 80px;
    position: relative;
    left: 30px;
  }
  .header__nav .header__nav__ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0%;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
  }
  .header__nav .header__nav__ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0%;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
  }
  .header__nav .header__nav__ul .nav__a {
    text-decoration: line;
    color: aliceblue;
  }
  .header__nav .header__nav__ul .nav__a:hover {
    color: #F49F0A;
  }
  .header__nav .header__nav__ul li {
    list-style: none;
    margin-left: 40px;
  }
  .header__nav .header__nav__ul li ul {
    display: none;
    position: absolute;
    padding: 10px 0 10px 0;
  }
  .header__nav .contacto {
    font-size: 30px;
    display: flex;
    position: relative;
    right: 30px;
    color: aliceblue;
  }
  .header__nav .contacto .carta {
    display: block;
    height: 30px;
    position: relative;
    top: 4px;
  }
  .header__nav .contacto .nav__a {
    color: aliceblue;
  }
  .header__nav .contacto .nav__a:hover {
    color: #F49F0A;
  }
}
.section__contacto {
  background-image: url(../img/gatoperro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section__contacto .formularioRegistro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.section__contacto .formularioRegistro .formulario {
  background-color: rgba(244, 158, 10, 0.4117647059);
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
  font-size: 10px;
}
.section__contacto .formularioRegistro .formulario .title {
  text-align: center;
  text-shadow: 2px 2px 1px white;
  font-style: italic;
  font-size: 50px;
  margin-bottom: 50px;
}
.section__contacto .formularioRegistro .formulario .inputContainer {
  position: relative;
  width: 90%;
  height: 45px;
  margin-bottom: 17px;
}
.section__contacto .formularioRegistro .formulario .inputContainer .input {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}
.section__contacto .formularioRegistro .formulario .inputContainer .input::placeholder {
  color: transparent;
}
.section__contacto .formularioRegistro .formulario .inputContainer .input:focus + .label {
  top: -8px;
  left: 3px;
  z-index: 10;
  font-weight: 20px;
  font-size: 14px;
  color: black;
}
.section__contacto .formularioRegistro .formulario .inputContainer .input:focus {
  margin-bottom: 20px;
  border: 2px solid black;
}
.section__contacto .formularioRegistro .formulario .inputContainer .input:not(:placeholder-shown) + .label {
  top: -8px;
  left: 3px;
  z-index: 10;
  font-weight: 20px;
  font-size: 14px;
}
.section__contacto .formularioRegistro .formulario .inputContainer .label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: rgba(255, 255, 255, 0);
  color: #282828;
  font-size: 16px;
  font-weight: bolder;
  transition: 0.5s;
  z-index: 0;
}
.section__contacto .formularioRegistro .formulario .submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0.452);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.section__contacto .formularioRegistro .formulario .submitBtn:hover {
  background-color: black;
  transform: translateY(-2px);
}

.tituloFoto {
  display: none;
}

.article1 {
  justify-content: space-around;
}

.text {
  display: grid;
  justify-content: space-around;
  text-align: center;
  font-size: 25px;
  padding: 30px;
  font-style: italic;
  text-shadow: 2px 2px 2px black;
  color: aliceblue;
  font-weight: bolder;
}

.text1 {
  background-image: url(../img/Perros-con-sed.jpg);
  background-size: cover;
}

.text2 {
  background-image: url(../img/79.jpg);
  background-size: cover;
}

.text3 {
  background-image: url(../img/map\ y\ vidio.jpg);
  background-size: cover;
}

.text_M {
  background-color: rgba(0, 0, 0, 0.1568627451);
  border-radius: 2rem;
}

.h2_movil {
  font-size: 40px;
  font-weight: lighter;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .tituloFoto {
    display: none;
  }
  .article1 {
    justify-content: space-around;
  }
  .text {
    display: grid;
    justify-content: space-around;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
    color: aliceblue;
    font-weight: bolder;
  }
  .text1 {
    background-image: url(../img/Perros-con-sed.jpg);
    background-size: cover;
  }
  .text2 {
    background-image: url(../img/79.jpg);
    background-size: cover;
  }
  .text3 {
    background-image: url(../img/map\ y\ vidio.jpg);
    background-size: cover;
  }
  .text_M {
    background-color: rgba(0, 0, 0, 0.1568627451);
    border-radius: 2rem;
  }
  .h2_movil {
    font-size: 40px;
    font-weight: lighter;
    text-decoration: underline;
  }
}
@media (min-width: 1028px) {
  .tituloFoto {
    display: block;
  }
  .article1 {
    justify-content: space-around;
    padding-top: 70px;
  }
  h1 {
    font-size: 100px;
    font-family: "Beau Rivage", cursive;
    font-weight: lighter;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
  }
  .parallax1 {
    background-image: url(../img/MNS65LIB3ZENJJKREPXJQFF4AQ.jpg);
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .parallax2 {
    background-image: url(../img/adopta.jpg);
  }
  .parallax3 {
    background-image: url(../img/IUMFOSNWHZACPJRM35WJGML76Q.jpg);
  }
  .parallax {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40vh 0 40vh 0;
  }
  .text {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: rgb(0, 212, 255);
    background: linear-gradient(163deg, rgb(0, 212, 255) 30%, rgb(12, 49, 255) 51%, rgb(143, 160, 255) 67%);
    font-size: 30px;
    padding: 30px;
    font-style: italic;
  }
  .h2_movil {
    text-decoration: underline;
    padding-bottom: 20px;
    font-size: 80px;
  }
  .h2 {
    text-decoration: underline;
    padding-bottom: 20px;
    font-size: 80px;
  }
  h3 {
    text-decoration: underline;
    padding: 20px 0 20px 0;
    font-size: 25px;
    font-style: italic;
    display: flex;
    justify-content: center;
  }
  .text_M {
    color: #000;
    text-shadow: none;
    font-family: "Times New Roman", Times, serif;
  }
  .text3 {
    display: flex;
    justify-content: space-around;
    background-image: none;
    background: rgb(0, 212, 255);
    background: linear-gradient(163deg, rgb(0, 212, 255) 30%, rgb(12, 49, 255) 51%, rgb(143, 160, 255) 67%);
  }
  .text3 p {
    padding: 5px;
  }
}
footer {
  display: block;
  background-color: #97725E;
}
footer div ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}
footer div ul img {
  height: 35px;
  width: 35px;
}
footer div ul .footer_Text {
  display: none;
}
footer div h3 {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  text-shadow: 2px 2px 2px black;
  color: aliceblue;
  margin: 0;
}

/* Footer */
@media screen and (min-width: 768px) {
  footer {
    display: block;
    background-color: #97725E;
  }
  footer div ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
  }
  footer div ul img {
    height: 45px;
    width: 45px;
  }
  footer div h3 {
    font-size: 25px;
  }
  .footer_Text {
    display: none;
  }
}
@media (min-width: 1028px) {
  footer {
    background-color: #97725E;
    margin: 0px;
  }
  footer div ul {
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-around;
  }
  footer div ul li a .footer_Text {
    display: block;
    color: rgb(49, 85, 131);
    text-decoration: underline;
    text-shadow: 1px 1px 0px black;
  }
  footer div ul li a img {
    height: 60px;
    width: 60px;
  }
  footer div h3 {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
    color: aliceblue;
    margin: 0;
  }
}
.h2_famili {
  text-decoration: underline;
  font-family: "Beau Rivage", cursive;
  color: aliceblue;
  text-shadow: 2px 2px 2px black;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}

.c1 {
  padding: 40px;
}

.c2 {
  padding: 40px;
}

.c3 {
  padding: 40px;
}

.c4 {
  padding: 40px;
}

@media (min-width: 1028px) {
  @-webkit-keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
      transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
      transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  .cont_1 {
    display: grid;
    grid-template-areas: "c1 c2 c3" "c4 c1 c2" "c3 c4 c2";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 40px;
  }
  #main_familia {
    background-image: url(../img/map\ y\ vidio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
  }
  .carousel {
    -webkit-animation: tracking-in-contract-bck-top 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-contract-bck-top 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .nav_famili {
    display: flex;
    position: static;
  }
  .h2_famili {
    font-family: "Beau Rivage", cursive;
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    font-size: 60px;
  }
}
.card {
  position: static;
  background-color: rgb(247, 183, 131);
  box-shadow: 12px 12px 24px;
}
.card .card-title {
  display: flex;
  position: relative;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  font-size: 40px;
}
.card .card-title:hover {
  color: green;
}
.card .card-text {
  display: flex;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
}
.card .card-footer {
  background-color: beige;
}
.card .card-footer .text-muted {
  display: flex;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .h1_sec {
    font-size: 40px;
  }
  .card-group {
    background: rgb(243, 121, 121);
    background: linear-gradient(163deg, rgb(245, 176, 119) 30%, rgb(145, 95, 72) 51%, rgb(245, 204, 68) 67%);
  }
  .card-group .card {
    position: static;
    margin: 20px;
    background-color: rgb(247, 183, 131);
    box-shadow: 12px 12px 24px;
  }
  .card-group .card .card-title {
    display: flex;
    position: relative;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    font-size: 40px;
  }
  .card-group .card .card-title:hover {
    color: green;
  }
  .card-group .card .card-text {
    display: flex;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 20px;
  }
  .card-group .card .card-footer {
    background-color: beige;
  }
  .card-group .card .card-footer .text-muted {
    display: flex;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
  }
}
@media (min-width: 1028px) {
  @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  .h1_sec {
    font-size: 50px;
  }
  .card-group {
    background: rgb(243, 121, 121);
    background: linear-gradient(163deg, rgb(245, 176, 119) 30%, rgb(145, 95, 72) 51%, rgb(245, 204, 68) 67%);
  }
  .card-group .card {
    -webkit-animation: bounce-in-top 2s both;
    animation: bounce-in-top 1.5s both;
    position: static;
    margin: 100px;
    background-color: rgb(247, 183, 131);
    box-shadow: 12px 12px 24px;
  }
  .card-group .card .card-title {
    display: flex;
    position: relative;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    font-size: 40px;
  }
  .card-group .card .card-title:hover {
    color: green;
  }
  .card-group .card .card-text {
    display: flex;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 20px;
  }
  .card-group .card .card-footer {
    background-color: beige;
  }
  .card-group .card .card-footer .text-muted {
    display: flex;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
  }
  .card:nth-child(1) {
    animation-delay: 0.4s;
  }
  .card:nth-child(2) {
    animation-delay: 0.8s;
  }
  .card:nth-child(3) {
    animation-delay: 1.2s;
  }
}
.main_nstr {
  background-image: url(../img/paisaje.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main_nstr .div_nstr {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  margin: 0 50px;
  background-color: rgba(0, 0, 0, 0.356);
  text-shadow: 2px 2px 3px black;
  border-radius: 20px;
}
.main_nstr .div_nstr .h2_nstr {
  font-size: 25px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.main_nstr .div_nstr .h3_nstr {
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
}
.main_nstr .div_nstr .text_nstr {
  display: block;
  text-align: center;
  margin: 0 40px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .main_nstr .div_nstr .h2_nstr {
    font-size: 35px;
  }
  .main_nstr .div_nstr .h3_nstr {
    font-size: 30px;
  }
  .main_nstr .div_nstr .text_nstr {
    margin: 0 100px;
    font-size: 22px;
  }
}
@media (min-width: 1028px) {
  .main_nstr .div_nstr .h2_nstr {
    font-size: 45px;
  }
  .main_nstr .div_nstr .h3_nstr {
    font-size: 35px;
    font-style: normal;
  }
  .main_nstr .div_nstr .text_nstr {
    font-size: 25px;
    margin: 0 80px;
  }
}

/*# sourceMappingURL=estilos.css.map */
