@use 'globales';

.section__contacto{
	background-image: url(../img/gatoperro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.formularioRegistro{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;

		.formulario{
			background-color: #f49e0a69;
			width: 100%;
			max-width: 400px;
			border-radius: 8px;
			padding: 20px 40px;
			box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
			font-size: 10px;

			.title{
				text-align: center;
				text-shadow: 2px 2px 1px white;
				font-style: italic;
				font-size: 50px;
				margin-bottom: 50px;
			}

			.inputContainer{
				position: relative;
				width: 90%;
				height: 45px;
				margin-bottom: 17px;
			
				.input{
					position: absolute;
					top: 8px;
					left: 0px;
					width: 100%;
					height: 100%;
					border: 1px solid #dadce0;
					border-radius: 7px;
					font-size: 16px;
					padding: 0 20px;
					outline: none;
					background: none;
					z-index: 1;

						&::placeholder{
							color: transparent;
						}
						
						&:focus + .label{
								top: -8px;
								left: 3px;
								z-index: 10;
								font-weight: 20px;
								font-size: 14px;
								color: black;
						}

						&:focus{
							margin-bottom: 20px;
							border: 2px solid  black;
						}

						&:not(:placeholder-shown) + .label {
							top: -8px;
							left: 3px;
							z-index: 10;
							font-weight: 20px;
							font-size: 14px;
						}
				}
				.label{
					position: absolute;
					top: 15px;
					left: 15px;
					padding: 0 4px;
					background-color: rgba(255, 255, 255, 0);
					color: #282828;
					font-size: 16px;
					font-weight: bolder;
					transition: 0.5s;
					z-index: 0;
				}
				
			}
			.submitBtn {
				display: block;
				margin-left: auto;
				padding: 15px 30px;
				border: none;
				background-color: rgba(0, 0, 0, 0.452);
				color: white;
				border-radius: 6px;
				cursor: pointer;
				font-size: 16px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 30px;

					&:hover{
						background-color: black;
						transform: translateY(-2px);
					}
			}	
		}
	}
}

