$color_text1: aliceblue;
$color_2: #000;
$color_hover-nav: #F49F0A;
$font-family_1: 'Beau Rivage', cursive;
$font-family_2: 'Times New Roman', Times, serif;
$background-navegacion: #97725E;
$background-text_body: #00000028;
$color_ft: rgb(49, 85, 131);

%h1sec{
	font-size: large;
    font-family: $font-family_2;
    font-weight: bolder;
    color: $color_text1;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding: 20px;
	background: rgb(187, 74, 74);
        background: linear-gradient(163deg, rgb(180, 175, 103) 30%, rgb(235, 140, 85) 40%, rgb(141, 255, 151) 70%);
	margin: 0;
}


* {
    margin: 0;
    padding: 0;
}

#body_grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
}

#body_grid_familia {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}
#main_familia {
	background-image: url(../img/map\ y\ vidio.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 20px;
}

/* responsive */
/*tablets*/
@media screen and (min-width:768px) {
    #body_grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}
}



