@use 'globales';

.h2_nstr{
    display: flex;
    font-size: 20px;
    justify-content: center;

    .text_nstr{
        

    }
}

@media screen and (min-width:768px) {
    .h2_nstr{
        display: flex;
        font-size: 30px;
        justify-content: center;
        
        .text_nstr{
            padding: 40px 0px;
        }
    }
}

@media (min-width:1028px) {
    .h2_nstr{
        display: flex;
        font-size: 40px;
        justify-content: center;
        
        .text_nstr{
            display: flex ;
            text-align: center;
            padding: 0 0 40px 0;
        }
    }
} 