@use 'globales';

.h2_nstr{
    display: flex;
    font-size: 20px;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .h2_nstr{
        display: flex;
        font-size: 30px;
        justify-content: center;
    }
}

@media (min-width:1028px) {
    .h2_nstr{
        display: flex;
        font-size: 40px;
        justify-content: center;
    }
}